<div class="container mainPage">
  <div style="text-align:center">
    <h1>To-Do App</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="To-Do" #desc>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="addList(desc)">Add</button>
      </div>
    </div>
  </div>
  <div class="listing">
    <ul class="list-group">
      <li *ngFor="let item of todos" class="list-group-item">
        {{item.todo}}
        <button style="float:right" class="btn btn-outline-danger" (click)="deleteList(item.id)" type="button">
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
